.ui-autocomplete-multiple-container {
	width: 682px;
}

.ui-autocomplete-input.ui-inputfield {
	width: 682px !important;
}

.ui-tabs-nav {
	background: transparent !important;
}

.fileupload-buttonbar .fileinput-button .ui-icon-plusthick {
	display: none !important;
}

.fileupload-buttonbar .fileinput-button  .ui-button-text {
	padding-left: 1em !important;
	background: transparent !important;
}

.fileupload-buttonbar {
	padding: 0.0em 0.0em;
	background: transparent !important;
	padding-top: 4px;
	padding-left: 3px;
}
/*  
#customSrollBar .ui-scrollpanel-native {                    
                overflow:hidden !important;
            } */
.ui-panelgrid td {
	border-width: 0px;
	border-style: none;
	border-color: black;
	padding: 0px 13px;
}
/* .fileupload-content {
    display: inline;
} */
/* .fileinput-button {
    background: #157FF0;
} */

/* .mousescroll {
    overflow: hidden !important;
}
.mousescroll:hover {
    overflow-y: scroll !important;
}

.srollForThis::-webkit-scrollbar {
   -moz-appearance: none !important;
    width: 12px;
}
 

.srollForThis::-webkit-scrollbar-track {
     -moz-appearance: none !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.srollForThis::-webkit-scrollbar-thumb {
    -moz-appearance: none !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(165, 152, 152); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
.srollPannelStyle {
	overflow: hidden !important;
	position: absolute;
}

.tabMargin .ui-tabs-panel {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.imagePadLeft .ui-panel-content .ui-widget-content {
	padding-left: 0px;
}
.file .ui-fileupload .start {
    display: none;
}
.file .ui-fileupload .cancel {
    display: none;
}
.file .ui-fileupload .progress {
  display: none; /* - if you wanted to hide the progress bar as well*/
}
.file .ui-fileupload  {
    border: none;
}
.file .ui-progressbar {  /* made progress bar smaller to fit on same line */
    display: none;
    width: 100px!important;
    height: 5px!important;
}
.file .fileupload-buttonbar .fileinput-button .ui-icon-plusthick { /* remove icon from browse button */
    display: none !important;
}
.file .fileupload-buttonbar .fileinput-button  .ui-button-text { /* removed icon from browse button so shifting text left*/
    padding-left: 1em!important;
    font-size: 13px
}
.file .fileupload-buttonbar {
    border: none!important;
    background: transparent;
    background-color: transparent;
    padding:0px 0px;
    float: left; /* Keep button on left */
} 
.file .fileupload-content {
    border: none!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    background: transparent!important;
    background-color: transparent!important;
    float: right; /* and content on right */
}
.file .ui-button-icon-only{
display: none;
}
.file .name{
display: none;
}
.file .size{
display: none;
}
.files{
	visibility: visible;
}
.fileUpPanel .ui-panel-content{
	padding: 0px 0px;
}
.dataListBorder .ui-widget-content{
	border:0;
}
.dataListFileShare .ui-widget-content{
	border:0;
}
.panelOverFlow .ui-layout-unit-content{
	overflow: visible;
}
